.profile {
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
  background-color: #e7ecf2;
  max-width: 480px;
  text-align: center;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.description {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 0;
  width: 320px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 3px #ded;
}
.description p {
  margin: 0 0 10px 0;
}
.name {
  font-size: 20px;
  font-weight: 600;
  color: #1b2a3d;
}
.tag {
  font-size: 16px;
  color: #8795a3;
}
.location {
  font-size: 18px;
  color: #8795a3;
}
.stats {
  padding: 0;
  margin: 40px 0 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f6f9;
}
.stats li {
  border: 1px solid #eaeef3;
  list-style: none;
  width: calc(100% / 3);
  padding: 19px 0;
}
.label {
  display: block;
  font-size: 16px;
  color: #8795a3;
}
.quantity {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #1b2a3d;
}
